/* You can add global styles to this file, and also import other style files */

:root {
  --my-bg: #f3f4fd;
  --my-grey: #6e6e71;
  --my-primary: #dee1ff;
}

@import "assets/layout/styles/layout/layout.scss";

/* PrimeNG */
@import "../node_modules/primeng/resources/primeng.min.css";
@import "../node_modules/primeicons/primeicons.css";

/*Prime flex */
@import "../node_modules/primeflex/primeflex.scss";
